

head
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title Catfacts.io


template(name='center')
  main#app
    h1#title Catfacts.io
       small Meewow

    +yield 'body'


template(name='signup')
  form.signup.input-group
    div.input-group-btn
      button(type="submit", disabled=disabled).btn.btn-success Sign Up
    input(type="text", name='phone-number', placeholder="your internation number").form-control

 
