@import ../../.meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/_bootstrap.scss

@import mixins/responsive
@import components/buttons


#app
  @extend .container

  +bigger-than(450px)
    max-width: 450px 
    margin-left: auto
    margin-right: auto

  +bigger-than(720px)
    max-width: 720px 
    margin-left: auto
    margin-right: auto

